@import "../../../assets/scss/airbnb-variables.scss";

.footer {
    background-color: $footerBgColor;
}

.author{
    color: $primaryLightColor;
    font-size: medium;

    a{
        color: $primaryColor;

        :hover{
            color: $primaryDarkerColor;
        }
    }
}
  
fa-icon {
    margin-left: 10px;
    font-size: 3px;
    margin-right: 10px;
}