<div class="footer text-sm border-t-1 border-gray-200 flex justify-between items-center px-6 py-4">
  <div class="left-section flex items-center space-x-4">
    <span>© 2024 PatelBNB, Inc.</span>
    <fa-icon icon="circle" size="xs" class="separator"></fa-icon>
    <span>Terms</span>
    <fa-icon icon="circle" size="xs" class="separator"></fa-icon>
    <span>Sitemap</span>
    <fa-icon icon="circle" size="xs" class="separator"></fa-icon>
    <span>Privacy</span>
    <fa-icon icon="circle" size="xs" class="separator"></fa-icon>
    <span>Your privacy choices</span>
  </div>

  <div class="right-section text-right">
    <span class="text-md font-semibold">A site by Aarju Patel</span>
  </div>
</div>
