.trash-btn {
    left: calc(100% - 70px);
    top: 10px;
}

.cancel-btn {
  left: calc(100% - 70px);
  top: 10px;
}
  
.edit-btn {
  right: calc(100% - 70px);
  top: 10px;
  background-color: rgb(243, 174, 26);
  border-color: rgb(243, 174, 26);
}
